# Basic configuration file for a Archi deployment
# with a chat app interface, a QA pipeline, and
# PostgreSQL with pgvector for document storage.
# The LLM is used through an existing Ollama server.
#
# run with:
# archi create --name my-archi-ollama --config examples/deployments/basic-ollama/config.yaml --services chatbot --hostmode

name: my_archi

services:
  chat_app:
    pipeline: CMSCompOpsAgent
    trained_on: "My data"
    port: 7869
    external_port: 7869
  vectorstore:
    backend: postgres  # PostgreSQL with pgvector (only supported backend)
  data_manager:
    port: 7889
    external_port: 7889

data_manager:
  # port: 7888
  # external_port: 7888
  sources:
    links:
      input_lists:
        - examples/deployments/basic-ollama/miscellanea.list
  embedding_name: HuggingFaceEmbeddings

archi:
  pipelines:
    - CMSCompOpsAgent
  pipeline_map:
    CMSCompOpsAgent:
      prompts:
        required:
          agent_prompt: examples/deployments/basic-ollama/agent.prompt
      models:
        required:
          chat_model: OllamaInterface
  model_class_map:
    OllamaInterface:
      kwargs:
        url: http://localhost:7870 # make sure this matches your ollama server URL!
        base_model: "gemma3" # make sure this matches a model you have downloaded locally with ollama
